body{
    margin:0;
}
nav{
    width: 100vw;
    height: 30px;
    background-color: red;
    display: flex;
    flex-direction: line;
justify-content: space-between;

}

nav .logo{
    display:flex;
    flex-direction: line;
    align-items: flex-start; /*ALINHAR NA VERTICAL*/
    justify-content: space-between; /*ALINHAR NA HORIZONTAL*/
    background-color:rgb(121, 32, 32);
    text-decoration: none;
    width: 20%;    
    
}
nav .menu{
    display:flex;
    flex-direction: line;
    align-items: flex-end; /*ALINHAR NA VERTICAL*/
    justify-content: space-between; /*ALINHAR NA HORIZONTAL*/
    background-color:white;
    width: 20%;
    text-decoration: none;
}
nav div img{
    height: 30px;
    width: auto;
}
